.project {
  // background-image: url('../img/proj-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  transition: all .3s ease-in-out;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  padding-top: 232px;
  padding-bottom: 200px;
  list-style-type: none;

  counter-reset: counter;

  &__item {
    position: relative;
    margin-bottom: 60px;
    padding-left: 60px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '0'counter(counter);
      counter-increment: counter;
      @extend %outfit-600;
      font-size: 16px;
      line-height: 20px;
      color: $white;
      opacity: 0.3;
    }

    &--active {
      .project-list__link {
        opacity: 1;
      }

      &::before {
        opacity: 1;
      }
    }


  }

  &__subtitle {
    display: block;
    margin-bottom: 16px;
    @extend %lato-700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.32em;
  }

  &__title {
    @extend %heist-400;
    font-size: 56px;
    line-height: 70px;
  }

  &__link {
    display: block;
    text-transform: uppercase;
    color: $white;
    opacity: 0.3;

    transition: opacity .3s ease-in-out;
  }
}
