.proj {
  &__content {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-y: auto;
  }
  &__content-image {
    grid-column: 8 span;
  }
  &__content-img {
    height: 100%;
  }
  &__content-descr {
    grid-column: 4 span;
  }
  &__content-video{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../img/project-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.video-link {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 80px;
  // height: 80px;
  // border-radius: 50%;
  // border: 1px solid $white;
  svg {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    fill: transparent;
    stroke: $white;
    pointer-events: none;
  }
}

.proj-descr {
  max-width: 448px;
  width: 100%;
  padding: 160px 0 100px;
  &__title {
    margin-bottom: 50px;
  }
  &__text {
    @extend %poppins-400;
    margin-bottom: 65px;
  }
  &__text-arrow {
    position: relative;
    padding-left: 100px;
  }
  &__arrow {
    position: absolute;
    top: -15%;
    left: 0;
    width: 78px;
    height: 154px;
  }
  &__list-item {
    &:not(:last-child) {
      border-bottom: 1px solid rgba($color: $white, $alpha: .2);
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
  }
  &__list-title {
    @extend %outfit-600;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: $white;
    font-size: 14px;
    line-height: 18px;
  }
  &__quote {
    position: relative;
    @extend %outfit-400;
    padding-left: 104px;
    font-size: 32px;
    line-height: 48px;
    color: $white;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      background-image: url('../../img/quote.svg');
    }
  }
  &__thank {
    display: flex;
    align-items: center;
    @extend %play-400;
    position: relative;
    font-size: 40px;
    line-height: 53px;
    color: rgba($color: $white, $alpha: .4);

    svg {
      display: block;
      width: 36px;
      height: 36px;
      margin-right: 16px;
    }
  }
}
