.swiper-pagination-bullet {
  position: relative;
  display: inline-block;
  bottom: 40px;
  width: 4px;
  height: 4px;
  background-color: $white;
  opacity: 1;
  margin: 0 22px!important;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid transparent;
  }
}

.swiper-pagination-bullet-active {
  background-color: $accent;
  &::before {
    border: 2px solid $accent;
  }
}
